:root {
    --lightblue: #75B8C8;
    --seagreen: #1D8A53;
    --lightgray: #636564;
    --yellow: #FFBA49;
}

.bg-light-blue {
    background-color: var(--lightblue);
}

.text-light-blue {
    color: var(--lightblue);
}

.bg-sea-green {
    background-color: var(--seagreen);
}

.text-sea-green {
    color: var(--seagreen);
}

.bg-light-gray {
    background-color: var(--lightgray);
}

.text-light-gray {
    color: var(--lightgray);
}

.bg-yellow {
    background-color: var(--yellow);
}

.text-yellow {
    color: var(--yellow);
}

.border-3 {
    border-width:6px;
}

.font-main {
    font-family: Arial;
    font-weight: bolder;
    font-size: 100px;
    color: white;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
}